/*---------------------------------------------Typography---*/

p{font-family:'Open Sans', sans-serif; font-weight:400;}


.page-title{ font-family:'Permanent Marker', cursive; font-weight:400;font-weight:700;}



/*---------------------------------------------Nav bar---*/

.navbar-default{
    background-color:rgb(50, 50, 50,0.7);
}

.navbar-brand {font-family: 'Permanent Marker', cursive; 
    
}

.navbar-default .navbar-brand:hover{
    color:#C0DBE2;
}



.navbar-default .navbar-nav>li>a{
    color:white; font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover{
    color:#C0DBE2; 
}


.navbar-default .navbar-nav .active a{
    color:#C0DBE2;
    background-color: #777;
}
.navbar-default .navbar-nav .active a:hover{
    color:#C0DBE2;
    background-color: #777;
}



/*---------------------------------------------Containers---*/

.container-footer{background-color:rgb(50, 50, 50,0.7);
    width:100%;
    height:70px;
    position:relative;
    bottom:0;
    padding-top:20px;
}

.about-us-container{
    margin-bottom: 70px;
}


/*---------------------------------------------Content---*/

.hero-image {

        background-image: url("../images/bodybackground.jpg");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        width:100%;
        height:500px;
        
    
}

.hireus-image {

        background-image: url("../images/hireus.jpg");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        width:100%;
        height:500px;
        
    
}




/*---------------------------------------------Footer---*/

.copyright-p{font-family: 'Open Sans', sans-serif; 
    color:#FFFFFF;
    float:left;}

.social-div{ float:right;}

.social-link{ padding-left: 5px;
    padding-right: 5px;
    }
    
.social-link a{ 
   color:#ffffff;
    }
    
.social-link a:hover{ 
   color:#C0DBE2;
    }