/*---------------------------------------------Typography---*/

p{font-family:'Open Sans', sans-serif; font-weight:400;}


.page-title{ font-family:'Permanent Marker', cursive; font-weight:400;font-weight:700;}



/*---------------------------------------------Nav bar---*/

.navbar-default{
    background-color:rgb(50, 50, 50,0.7);
    
}

.navbar-brand {font-family: 'Permanent Marker', cursive; 
    
    
}

.navbar-default .navbar-brand{
    color:rgb(192, 219, 226,1);
}

.navbar-default .navbar-brand:hover{
    color:rgb(51, 51, 51,1);
    
}



.navbar-default .navbar-nav>li>a{
    color:white; font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover{
    color:#C0DBE2; 
}


.navbar-default .navbar-nav .active a{
    color:#C0DBE2;
    background-color: #777;
}
.navbar-default .navbar-nav .active a:hover{
    color:#C0DBE2;
    background-color: #777;
}



/*---------------------------------------------Containers---*/

.container-footer{background-color:rgb(50, 50, 50,0.7);
    width:100%;
    height:70px;
    position:relative;
    bottom:0;
    padding-top:20px;
}

.content-container{
    margin-bottom: 70px;
}


/*---------------------------------------------Grid ---*/



/*---------------------------------------------Content---*/



.hero-image {

        background-image: url("../images/bodybackground.jpg");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        width:100%;
        height:500px;
        
    
}

.hireus-image {

        background-image: url("../images/hireus.jpg");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        width:100%;
        height:500px;
        
    
}

.videos-image {

        background-image: url("../images/videos.jpg");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        width:100%;
        height:500px;
        
    
}

.music-image {

        background-image: url("../images/music.jpg");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        width:100%;
        height:500px;
        
    
}

.photos-image{
   background-image: url("../images/photos-image.jpg");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        width:100%;
        height:500px; 
}

.social-link-bold{
     padding-left: 15px;
    padding-right: 15px;
    font-size: 3.3rem;
}

.social-link-bold a{
    color:#C0DBE2;
}

.social-link-bold a:hover{
    color:rgb(51, 51, 51,1);
}

/*---------------------------------------------photo Carousel---*/
/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  max-width: 784px;
  margin:auto;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
   
}
  



/*---------------------------------------------Band Photos---*/

.carousel-item-1{
    background-image: url("../images/rock-photo-one.jpg");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          height:200px;
       
}

.carousel-item-2{
    background-image: url("../images/rock-photo-two.jpg");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        
        height:200px;
}

.carousel-item-3{
    background-image: url("../images/rock-photo-three.jpg");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
       
        height:200px;
}

.carousel-item-4{
    background-image: url("../images/rock-photo-four.jpg");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        
        height:200px;
}

.carousel-item-5{
    background-image: url("../images/rock-photo-five.jpg");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        
        height:200px;
}


/*---------------------------------------------Form---*/

.contact-form{
    font-family: 'Open Sans', sans-serif;
   
     max-width:70%;
    
}
.form-description{
    width:100%;
}

.input-group-addon{
    color:#fff;
    background-color: #C0DBE2;
}

.btn-form{
    color:#ffff;
    background-color:#C0DBE2;
     font-weight:bold;
    
}

/*---------------------------------------------Footer---*/

.copyright-p{font-family: 'Open Sans', sans-serif; 
    color:#FFFFFF;
    float:left;}

.social-div{ float:right;}

.social-link{ padding-left: 5px;
    padding-right: 5px;
    }
    
.social-link a{ 
   color:#ffffff;
    }
    
.social-link a:hover{ 
   color:#C0DBE2;
    }
    
/*---------------------------------------------Media Queries---*/

@media only screen and (max-width: 320px){
    .carousel{
        height:300px;
    }

    .carousel .item {
  height: 300px;
  background-color: #777;
}
    
    
}

@media only screen and (min-width: 1024px){
    .carousel{
       max-width:970px;
    }

    .carousel .item {
  height: 500px;
  background-color: #777;
}
    
    
}

@media only screen and (min-width: 1440px){
    .carousel{
       max-width:1170px;
    }

    .carousel .item {
  height: 500px;
  background-color: #777;
}
    
    
}



